body {
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Arbutus Slab', serif;
}

td {
  border-style: hidden;
}

.wrap-all {
  margin-top: 10px;
}

.emailaddr {
	font-size: 16px;
	font-family: monospace;
	padding-left: 0px;
	padding-right: 0px;
  padding-top: 10px;
}

.scram {
	unicode-bidi: bidi-override;
	direction: rtl;
	text-align: center;
	text-indent: 0px;
}

.fullname {
	margin-top: 8px;
	font-family: 'Arbutus Slab', serif;
	margin-bottom: 15px;
}

.id-main {
	margin-left: 8px;
	margin-right: 8px;
	margin-bottom: 12px;
}

.id-address {
  font-size: 14px;
	margin-top: 12px;
	padding-top: 0px;
	padding-bottom: 6px;
}

.card-text {
	padding: 3px;
}
.paper {
	padding-left: 0px;
	padding-right: 0px;
}

.paper-title, .blog-title, .press-title, .talk-title, .blog-link, .press-link, .paper-link, .service-title {
	font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.service-list {
	padding-top: 0px;
	margin-top: 0px;
}

.paper-details {
	display: inline-block;
}

.tagline {
  padding-bottom: 12px;
}

.card {
	padding-bottom: 20px;
}

.card-title {
  margin-top: 10px;
  margin-bottom: 10px;
}


.rightcard {
	margin-top: 15px;
}

.aboutcard, .pubscard {
	/* text-align: justify;
  text-justify: inter-word; */
}

.service-list li {
	padding-top: 2px;
	padding-bottom: 2px;
}

.blog {
  font-size: 18px;
}

.idcard {
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.social {
	padding-top: 10px;
	padding: 5px;
}

.social-icon {
	margin-left: 2px;
	margin-right: 2px;
}

.img-circle {
	padding: 10px;
}

.table-responsive {
  border-style: hidden;
}

.blog-place, .news-place {
	font-style: inherit;
}

td p {
	font-size: 18px;
	line-height: 1.5;
  padding-bottom: 0px;
  margin-bottom: 0px;
	text-align: justify;
	text-justify: inter-word;
}
